:root {
    --montserrat: 'Montserrat', sans-serif;
    --orbitron: 'Orbitron', sans-serif;
    --orange : #fb5444;
    --blue : #44bbd3;
    --yellow : #fbfb04;
}

/* Fonts */
.montserrat{ font-family: var(--montserrat); }
.orbitron{ font-family: var(--orbitron); }

/* Text Colors */
.torange{ color: var(--orange); }
.tblue{ color: var(--blue); }
.tyellow{ color: var(--yellow); }

/* Background colors */
.borange{ background-color: var(--orange); }
.bblue{ background-color: var(--blue); }
.byellow{ background-color: var(--yellow); }

/* Parameters for the whole page */
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--montserrat);
    background-color: #aec9cf;
}

.orange-neon{
    filter: drop-shadow(0px 0px 10px var(--blue));
}

/* NavBar */
nav{
    position: fixed;
    z-index: 99999;
    transition: top 0.5s;
}

.logo{
    max-width: 50px;
}

/* Fixed Action Button */
.btn-floating:hover{
    background-color: var(--orange);
}

/* Page Header */
.rageons{
    background-image: url(../img/bg.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    margin: 0;
    padding: 300px;
    filter: drop-shadow(0px 0px 5px var(--orange));
}

h2{
    padding: 2%;
    filter: drop-shadow(0px 0px 5px var(--blue));
    color: #ffffff;
    font-family: var(--orbitron);
}
